.venv
venv/
**/.idea/
*/__pycache__*
**/test/
**/example/
**/temp/
хBak
*.txt*
*.docx*
*.odt*
*_templ_*
*orig_*
*.m3u*
*.mp3*
*.wav*
*.jpg*
*копия*
*test*
*Test*
хOther
CurrentStatus*
.gitignore
*copy*
