certifi==2025.6.15
cffi==1.17.1
charset-normalizer==3.4.2
idna==3.10
lxml==6.0.0
py-espeak-ng==0.1.8
PyAudio==0.2.13
pycparser==2.22
python-vlc==3.0.21203
pyttsx==1.1
pyttsx3==2.98
requests==2.32.4
SCons==4.9.1
sounddevice==0.5.2
srt==3.5.3
tqdm==4.67.1
urllib3==2.6.3
vosk==0.3.45
websockets==15.0.1
